.currency-input {
  background: transparent;
  border-radius: 7px;
  width: 16rem;
  height: 3rem;
  color: var(--white);
  border: 2px solid var(--white);
  margin-bottom: 3.75rem;
}

.currency-input:focus {
  border-color: #ffffff;
  outline: none;
}
